.product-details-container {
  display: grid;
  grid-template-columns: minmax(400px, auto) minmax(100px, auto);
  min-width: 680px;
  margin: 16px 112px;
  padding: 32px;
  background-color: #fff;
  gap: 32px;
}

.product-details-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.product-details-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-details-description {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* media query pantallas chicas */
@media (max-width: 900px) {
  .product-details-container {
    grid-template-columns: minmax(100px, 680px);
    min-width: 220px;
    margin: 16px 112px;
    padding: 32px;
  }
  .product-details-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
}
