.product-details-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.product-details-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-details-image-container {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  max-height: 680px;
}

.product-details-image {
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}

@media (max-width: 900px) {
  .product-details-image-container {
    justify-self: center;
  }
}
