.product-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0;
}

.product-details-container {
  display: grid;
  grid-template-columns: minmax(400px, auto) minmax(100px, auto);
  min-width: 680px;
  margin: 0 112px;
  padding: 32px;
  background-color: #fff;
  gap: 32px;
  border-radius: 4px;
}

/* media query pantalla mediana */
@media (max-width: 900px) {
  .product-details-container {
    grid-template-columns: minmax(100px, 680px);
    min-width: 220px;
    margin: 16px 112px;
    padding: 32px;
    border-radius: 4px;
  }
}
